<div id="intro">

    <div class="welcome">
        <img class="profile-picture" src="assets/images/me.jpg" alt="profile picture">
        <p>
            Hi! My name is Pantelis.
            <br> <br>Welcome to my website. 
        </p>
        
        <br><br>
        <button class="resume"> 
            <a href="assets/Pantelis_Vasileiadis_CV.pdf" download>Get Resume</a>
            <img src="assets/images/download.svg" class="icon" alt="download">
        </button>
    </div>


    <div class="general"> 
        <h1>Pantelis Vasileiadis</h1>

        <h2>I am a professional: {{displayedTitle}} <span [style.opacity]="cursorVisible ? 1 : 0">|</span></h2>

        <p style="text-align: center">I design and code to cover your needs.
            I love figuring out simple elegant solutions for complex problems.
            Most of my experience and projects are on Web Development.
        <br>  I am highly cooperative, with great communication skills.  My drive is my passion for contributing. 
        <br> I am always looking for new challenges and opportunities to grow.
        
        </p>

        <br>
        <br>
        <br>    
    </div>
</div>