<div class="welcome">
    <img class="profile-picture" src="assets/images/me.jpg" alt="profile picture">
    <p>
        Hi! My name is Pantelis.
     <br> <br>Welcome to my website. 
    </p>
</div>

<div class="general"> 
    <h1>Pantelis Vasileiadis</h1>

    <h2>Software Developer</h2>
    <p>I design and code to solve your problems. I love figuring out simple elegant solutions for complex problems.
         Most of my experience and projects are on Web Development.
    <br>    I am highly cooperative, with great communication skills.  My drive is my passion for contributing. 
    <br> What is teamwork? Learning new things and teaching the ones you already know.
    </p>

<br>
<br>
<br>    
</div>