<ul>
  <li><a href="#skills">Skills</a></li>
  <li><a href="#contact">Contact</a></li>
  <li><a href="#intro">About</a></li>
</ul>


<app-introduction></app-introduction>

<div class="main-layout">
  <div id="router-wrapper">
    <router-outlet />
  </div>
  
  <div class="footer" id="contact">
    <p>
      Thessaloniki, Greece <br>
      <br>
      Stage: PanWebServices <br>
      <br>
      pantelos1999&#64;gmail.com
    </p>

    <div>
      Get in touch: <br>
      
      <a class="social-button github" href="https://github.com/FirestormPan" target="_blank">
        <img src="assets/images/github.svg" alt="github">
      </a>
      
      <a class="social-button linkedin" href="www.linkedin.com/in/panteleimon99" target="_blank">
        <img class="social-icon" src="assets/images/linkedin.svg" alt="linkedin">
      </a>
    </div>
    
    <div>
      Contact me: <br>
      <a class="social-button github" href="mailto:pantelos1999@gmail.com" target="_blank">
        <img class="social-icon" src="assets/images/envelope.svg" alt="gmail">
      </a>
    </div>
    
    <p class="trademarkt">By <br> &copy;PanWebServices</p>
  </div>
</div>