<div class="main-layout">
  <div class="welcome">
    <img class="profile-picture" src="assets/images/me.jpg" alt="profile picture">
    <p>
      Hi! My name is Pantelis.
      <br> Welcome to my website. Here you get to know me better as a person and as a programmer. 
    </p>
  </div>
  
  <div class="general"> general
  <br>
  </div>
  
  <div class="router-wrapper">
    <router-outlet />
  </div>
  
  <div class="footer">
    <p>hi 
      <br> <img src="" alt="bnop">

    </p>
    
    footer

    <p class="trademarkt">By <br> &copy;PanWebServices</p>
  </div>
</div>