.main-layout {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
  width: 100%;
}


.router-wrapper{
    grid-column: 1 / -1; /*full width*/
    margin-top: 5vh;
}

.footer{
    grid-row: 6;
    grid-column: 1 / -1;

    display: inline-flex;
    justify-content: space-between;

    height: 150px;
    padding: 30px 0px 10px 10px;
    margin-top: 130px;
    text-align: center;

    background: linear-gradient(180deg, rgba(20, 184, 166, 0.1) 0%, rgba(99, 102, 241, 0.1) 100%);
    border-top: 1px solid rgba(99, 102, 241, 0.3);
}

.footer .trademarkt{
    writing-mode: vertical-rl;  
}

.social-icon{
    width: 30px;
    height: 30px;   
}

.social-button {
    display: flex;
    justify-content: center;
    align-items: center;
  
    cursor: pointer;
    width: 3.125rem;
    height: 3.125rem;
    border: 0.125rem solid transparent;

    border-radius: 1.6875rem;
    transition: all 0.7s ease;
    margin-left: 0.25rem;
    margin-top: 0.7rem;
}

.social-button:hover, .social-button:focus {
    transform: rotate(360deg);
}

.social-button.linkedin {
  background: #007bb5;
}
.social-button.linkedin:hover, .rounded-social-buttons .social-button.linkedin:focus {
    background: #fefefe;  
    border-color: #007bb5;
}

.social-button.github {
  background: #F97316; 
}
.social-button.github:hover, .rounded-social-buttons .social-button.github:focus {
  background: #fefefe;  
  border-color: #F97316;
}