<div class="component-wrapper" (mousemove)="onMouseMove($event)" id="skills">
    <span  style="text-align: center;">
        
        <h2>My programming skills and projects</h2>
        <p>These are some of my projects, grouped by the technologies and languages used to build them.
            Most projects include a README with a detailed description and implementation details.
        </p>
    
        <!-- <div class="skills-cotainer">
            <h3>Featured Projects</h3>
            <app-skill name="Silly Contracts"></app-skill>
        </div> -->
        
    </span>
    <div class="skills-container">
        @for(skill of skills; track skill){
            <app-skill [name]="skill.name" [description]="skill.description" [projects]="skill.projects"></app-skill>
        }
        
    </div>
    
    <div class="icons-container" 
        [style.left.px]="left -100"
        [style.top.px]="-top"
    >
        <img src="assets/images/icons/angular-brands-solid.svg" alt="" style="top: 150px; left: 30px;">
        <img src="assets/images/icons/html5-brands-solid.svg" alt="" style="top: 350px; left: 120px;">
        <img src="assets/images/icons/js-brands-solid.svg" alt="" style="top: 550px; left: 50px;">
        <img src="assets/images/icons/code_24dp_1F1F1F.svg" alt="" style="top: 720px; left: 90px;">
        
    </div>

    <div class="icons-container" 
    [style.left.px]="fullwidth -120 - left"
    [style.top.px]="-top"
    >
        <img src="assets/images/icons/npm-brands-solid.svg" alt="" style="top: 180px; left: 20px;">
        <img src="assets/images/icons/css-brands-solid.svg" alt="" style="top: 400px; left: 120px;">
        <img src="assets/images/icons/css3.svg" alt="" style="top: 620px; left: 40px;">
        <img src="assets/images/icons/less-brands-solid.svg" alt="" style="top: 800px; left: 160px;">
        <img src="assets/images/icons/data_object_24dp_1F1F1F.svg" alt="" style="top: 920px; left: 80px;">
        <img src="assets/images/icons/save_24dp_1F1F1F.svg" alt="" style="top: 1020px; left: 30px;">
    </div>

    <div class="icons-container" 
    [style.left.px]="10 -left"
    [style.top.px]="top"
    >
        <img src="assets/images/icons/react-brands-solid.svg" alt="" style="top: 220px; left: 50px;">
        <img src="assets/images/icons/python-brands-solid.svg" alt="" style="top: 480px; left: 20px;">
        <img src="assets/images/icons/java-brands-solid.svg" alt="" style="top: 700px; left: 140px;">
        <img src="assets/images/icons/logo_dev_24dp_1F1F1F.svg" alt="" style="top: 860px; left: 60px;">
    </div>
    
    <div class="icons-container" 
    [style.left.px]="fullwidth -250  +left"
    [style.top.px]="top"
    >
        <img src="assets/images/icons/file-code-regular.svg" alt="" style="top: 250px; left: 80px;">
        <img src="assets/images/icons/node-js-brands-solid.svg" alt="" style="top: 750px; left: 150px;">
        <img src="assets/images/icons/npm-brands-solid.svg" alt="" style="top: 680px; left: 30px;">
        <img src="assets/images/icons/network_wifi_3_bar_24dp_1F1F1F.svg" alt="" style="top: 940px; left: 70px;">
    </div>

</div>